zappa_settings.json
mop-lambda-*
ve
venv
*.pyc
#.*
.#*
*#
*~
local_settings.py
db.sqlite3
site-packages
/static
*.sass-cache
.env
.no-env

# Elastic Beanstalk Files
#commenting out -- but we'll have to add this if this became a public repo
#.elasticbeanstalk/*
#!.elasticbeanstalk/*.cfg.yml
#!.elasticbeanstalk/*.global.yml
