<!DOCTYPE html>
<html>
  <body>
    <form method="POST">
      <ul>
    {% for q in questions %}
        <li>
          <b>{{q.name}}</b>
            {% if q.minimum %}
            <div>
            To preserve anonymity a minimum of {{q.minimum}} reports are required to include this in the monthly report.
            </div>
            {% endif %}
            <div class="question">
            {% for choice in q.choices %}
              <div class="choice">
                <label for="{{q.name}}_{{choice}}">
                <input id="{{q.name}}_{{choice}}" type="{% if q.checkboxes %}checkbox{% else %}radio{% endif %}" name="{{q.name}}" value="{{choice}}" /> <span>{{choice}}</span>
                </label>
              </div>
            {% endfor %}
          {% if q.other_textfield %}
              <div class="choiceother">
             {% if not q.checkboxes %}
              <input type="radio" name="{{q.name}}" value="other" /> <span>Other</span> 
             {% else %}
               <label name="{{q.name}}_other">Other</label>
             {% endif %}
             <input class="other" type="text" name="{{q.name}}_other" />
             </div>
          {% endif %}
          </div>
        </li>
    {% endfor %}
      </ul>
      <p>
        If you want to include a/the problematic quote (or describe it) to be shared within the organization
        type it in below.
        <input type="text" name="words" style="width: 100%"/>
      </p>
      <input type="submit" value="Report" />
    </form>
  </body>
</html>
